.profile-container{
  height: 100%;

  #profile {
    display: flex;
    background: #eee;
    height: 100%;

    form {
      width: 20em;
      height: auto;
      margin: 8em auto 15em;

      label {
        margin-top: 10px;
      }

      button {
        background: teal;
        color: #fff;
      }
    }
  }
}

